﻿@page "/fetchdata"
@inject HttpClient Http
@inject IJSRuntime JsRuntime;
@using PasswordManagerWeb.Lib;
@using System.Text;

<h1>Weather forecast</h1>
<p>This component demonstrates fetching data from the server.</p>

@if (Passwords == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <p><label>File: <input type="file" id="fileinput"> </label> 
        <button class="btn btn-dark" onclick="@LoadPasswords">Load</button>
        <button class="btn btn-dark" onclick="@SavePasswords">Save</button>
    </p>
    <br />
    <p>
        <label>Username: </label><br />
        <input type="text" bind="@_usr" />
    </p>
    
    <p><label>Password:</label><br />
    <input id="PasswordText" type="password" onchange="@(e=> GetPassword(e))" />
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Password</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pass in Passwords)
            {
                <tr>
                    <td>@pass.Name</td>
                    <td>@pass.Get()</td>
                    <td>
                        <button class="btn btn-primary" onclick="@(() => ShowPassword(@pass))"> @if (@pass.Show) { <div>Hide</div>} else {<div>Show</div>} </button>
                        <button class="btn btn-danger" onclick="@(() => DeletePassword(pass))"> Remove</button>
                </td>
            </tr>
        }
            <tr>
                <td><input type="text" bind="@_NewName" /></td>
                <td><input type="password" onchange="@(e => SetPassword(e.Value.ToString()))" /></td>
                <td><button class="btn btn-light" onclick="@(() => AddPassword())"> Add</button></td>
            </tr>
        </tbody>
    </table>

}

@functions {

    public static string _psw;
    string _usr;

    string _NewName;
    string _NewPassword;

    List<Password> Passwords = new List<Password>();


    protected void GetPassword(UIChangeEventArgs e)
    {
        _psw = e.Value.ToString().GetHashString();
    }

    protected void SetPassword(string psw)
    {
        _NewPassword = psw.Encrypt(_psw);
    }

    protected void DeletePassword(Password p)
    {
        Passwords.Remove(p);
    }

    protected void CopyToClipboard(string text)
    {
        string psw = text.Decrypt(_psw);
        JsRuntime.InvokeAsync<string>("CopyToClipboard", psw);
    }

    protected void AddPassword()
    {
        Passwords.Add(new Password() { Name = _NewName, Psw = _NewPassword });
        _NewName = "";
        _NewPassword = "";
    }



    protected async void LoadPasswords()
    {
        string f = await JsRuntime.InvokeAsync<string>("LoadFile");
        string decrypted = f.Decrypt(_psw);

        Passwords = Json.Deserialize<List<Password>>(decrypted);
    }

    protected void SavePasswords()
    {
        List<Password> psw = Passwords;
        foreach (var p in psw)
        {
            p.Show = false;
        }

        string f = Json.Serialize(Passwords);
        string crypt = f.Encrypt(_psw);
        JsRuntime.InvokeAsync<string>("DownloadFile", "File",Convert.ToBase64String((Encoding.UTF8.GetBytes(crypt))));
    }

    protected void ShowPassword(Password p)
    {
        p.Show = !p.Show;
    }

    protected class Password
    {
        public string Name { get; set; }
        public string Psw { get; set; }
        public bool Show { get; set; }

        public string Get()
        {
            return Show ? Psw.Decrypt(FetchData._psw) : "Hidden";
        }
    }
}
